:root {

    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 2rem;
    --bs-body-font-weight: 1000;
    --bs-body-bg: #6c757d;
    --bs-light: #f8f9fa;
}
body{
}
.container {
    display: flex;
}

.container-List{
    margin-left: 100px;
}